.title {
  margin: 1rem 0 0;
}

.articles {
  margin: 5rem 0;
  margin-top: 0px;
}
.articles .content p {
  margin: 0px 0 3px;
  line-height: 1.3;
}
.author-image {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 60px; 
  height: 60px;
  margin-left: -30px;
  border: 3px solid #ccc;
  border-radius: 50%;
}
.media-center {
  display: block;
  margin-bottom: 1rem;
}
.media-content {
  margin-top: 3rem;
}
.article,
.promo-block {
  margin: 2rem 0 6rem;
}
div.column.is-8:first-child {
  padding-top: 0;
  margin-top: 0;
}
.article-title {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 2;
}
.title.article-title {
  margin-bottom: 0.5rem;
}
.article-subtitle {
  color: #909aa0;
  margin-bottom: 3rem;
}
.article-body,
.article-header,
.article-footer {
  line-height: 1.4;
  margin: 0 2rem;
  padding-bottom: 0.5rem;
}
.article-body {
  color: rgba(#333, 0.8);
}

.article-footer {
  padding-bottom: 1rem;
}

.promo-block .container {
  margin: 1rem 5rem;
}

.date-posted {
  color: rgba(#333, 0.5);
}

.author {
  font-weight: 600;
  color: rgba(#333, 0.5);
}
// .box-info-post {
//    padding: 0 0 0.3rem;
// }

.dv-star-rating {
  font-size: 20px;
}

.vote-score {
  &.red {
    color: red;
  }
  &.green {
    color: green;
  }
}
